* {
    font-family: sans-serif;
    box-sizing: border-box;
}



body {
    line-height: 1.6;
    margin: 0;
}

a {
    color: #34495e;
    text-decoration: none;
}

img {
    width: inherit;
    height: inherit;
    object-fit: contain;
}

.logo {
    margin: 0;
    font-size: 1.1em;
    padding-left: 0.5em;
    width: 3em;
    height: 3em;
}

.header {
    padding-top: .8em;
    padding-bottom: .4em;
    border: 1px solid #646174;
    background-color: #a2ccea;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    border-radius: 1px;
}

.header-list {
    float: right;
    margin-top: 1em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-list a {
    padding: 10px 15px;
    text-transform: uppercase;
    color: #34495e;
    font-size: .99em;
}

.header-list a:hover {
    background-color: #7ebeb6;
    color: #092747;
    border-radius: 15%;
}

.posts {
    background-color:lightblue;
    border-radius: 0.2em;
    padding: 8px 20px;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 2em;
    box-shadow: none;
    display: flex;
    flex-direction: column;
}

.post-header {
    display: block;
    font-size: 1.2em;
}

.post-date {
    padding-top: 0.3em;
    float: right;
    display: block;
}

.post-content {
    font-size: 1.em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.post-title {
    padding-top: 0.3em;
    float: left;
    display: block;
}

.small-logo {
    height: 1.5em;
    width: 1.5em;
    padding: 2px;
}

.like-button {
    height: 3em;
    width: 3em;
    padding: 2px;
    cursor: pointer;
    user-select: none;
    float: left;
    display: block;
}


@media (max-width: 800px) {
    .posts {
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
    }
}
.login {
    background-color:lightblue;
    border-radius: 0.2em;
    padding: 8px 20px;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 2em;
    text-align: center;
    box-shadow: none;
}
.login h1 {
    color: black;
    margin-bottom: 2em;
}
#or {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login a {
    color: black;
}
.login a:hover {
    background-color: #7ebeb6;
    color: #092747;
    border-radius: 15%;
}
.ylatekst > a {
    color: gray;
}
.login p {
    color: black;
}
br + a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
